/*TODO:
    BORDERS TO SHADOWS
*/

* {
    margin: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(153, 70, 70);
    height: 100%;
    width: 100%;
    text-align: center;
}

/*Sections*/

.tops {
    height: 7%;
    border-style: solid;
    border-width: 1px;
    background-color: blueviolet;
}

.body {
    height: 82%;
    background-color: aqua;
    display: flex;
    flex-flow: row;

}

.current-track {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 10.6%;
    background: rgb(40, 40, 40);
    color: white;
    user-select: none;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}

.material-icons {
    font-size: 38px;
}

.current-track> div {
    flex-grow: 1;
}

/*TOP Items*/

/*Body Items*/
.nav-bar{
    width: 15%;
    background: blue;
}
.content{
    max-height: 100% !important;
    width: 85%;
    background: red;
    overflow: scroll;
    overflow-y:scroll;
    overflow-x:hidden;
}

/*Current-track Items*/

.controls {}

.progress {
    flex-grow: 4;
    height: 100%;
}


.select {
    user-select: text;
    margin-top: 1%;
    margin-bottom: 1%;
}

.title {
    width: 100%;
}
#track-progress{
    width: 80%;
    
    background-color: #aaa !important;
    background: #555;
}
#track-progress::-moz-progress-bar { background: #790505bd; }
#track-progress::-webkit-progress-value { background: #790505bd; }
    /*Progressbar*/
.buttons {
    flex-grow: 1;
}